body{
  padding:0px;
  margin:50px 0px 0px 0px;
  padding-bottom:100px;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
  color:inherit;
}
#container{
  width: 80%;
  margin:auto;
  overflow: hidden;
  text-align: center;
  background: #fff;
}
#container #header{
  overflow: hidden;
  padding:20px;
  text-align: center;
}
#container #header #logo{
  width:50px;
  height:50px;
  background:#007ee5;
  border-radius: 50%;
  margin:auto;
}
#container #header #title{
  padding:10px 10px 10px 10px;
}
#container #header #title span{
  font-size:30px;
}
#container #content{
  overflow: hidden;
  text-align: center;
  padding:10px 30px 10px 30px;
}
#container #content #desc{
  padding-bottom:00px;
}

#container #content #descText{
  margin: auto auto 20px auto;
  max-width:700px;
}


#login{
  width: 160px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background:#007ee5;
  color:#fff;
  margin:auto auto 20px auto;
  border-radius:3px;
  border:none;
}
.fb-like{
  text-align: center;
  margin: auto;
}
#login:hover{

  background:#0071ce;
  cursor: pointer;
}

#GoogleDrive{
  width: 160px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background:orangered;
  color:#fff;
  margin:auto auto 20px auto;
  border-radius:3px;
  border:none;
}

#GoogleDrive:hover{

  background:#CC0000;
  cursor: pointer;
}

#Facebook{
  width: 140px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background:#0000CD;
  color:#fff;
  margin:auto auto 20px auto;
  border-radius:3px;
}

#Facebook:hover{

  background:darkblue;
  cursor: pointer;
}

#outer
{
  width:100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.inner
{
  display: inline-block;

}

#div-bar{
  width:50px;
  background:#000;
  height:1px;
  margin:0px auto 20px auto;
}
#div-bar-mid{
  width:350px;
  background:#000;
  height:1px;
  margin:0px auto 20px auto;
}
#div-bar-lrg{
  width:350px;
  background:#000;
  height:1px;
  margin:0px auto 20px auto;
}
#container #footer{
  text-align: center;
  padding:10px;
  overflow: hidden;
}
#container #t-bar{
  overflow:hidden;
  padding:00px 0px 20px 0px;
  border-bottom:1px solid #000;
}
#container #t-bar span{
  overflow:hidden;
  font-size:30px;
  float:left;
}
#container #t-bar a{
  overflow:hidden;
  font-size:16px;
  float:left;
  background:#007ee5;
  color:#fff;
  float:right;
  display: inline-block;
  border-radius:3px;
  padding:10px 10px 10px 10px;
}
#container #t-bar a:hover{
  background:#0071ce;
}
.note{
  text-align:left;
  border:1px solid #000;
  border-radius:3px;
  overflow: hidden;
  padding:10px;
  margin:15px 0px 15px 0px;
}
.note .title{
  font-size:30px;
  padding-top:10px;
}
.note .options{
  overflow:hidden;
  float:right;
  width:100%;
  padding:0px 0px 10px 0px;
}
.note:last-child{
  overflow:hidden;
  float:right;
  border-bottom:0px solid #000;
  width:100%;
  padding:0px 0px 10px 0px;
}
.note .options a{
  overflow:hidden;
  font-size:16px;
  background:#007ee5;
  color:#fff;
  float:right;
  display: inline-block;
  border-radius:3px;
  padding:5px 5px 5px 5px;
  margin:0px 0px 0px 10px;
}
.note .options a:last-child{
  margin:0px 0px 0px 0px;
}
.btn-tp{
  width:150px;
  height:40px;
  color: #fff;
  background: #007ee5;
  border-radius: 3px;
  border:none;
}
#add{
  overflow:hidden;
}
#editHeader{
  margin-top: 0px;
  font-size: 22px;
  text-transform: uppercase;
}
#viewHeader{
  margin-top: 0px;
  font-size: 22px;
  text-transform: uppercase;
}
#addHeader{
  margin-top: 0px;
  font-size: 22px;
  text-transform: uppercase;
}
#add textarea{
  width:calc(100% - 22px);
  border:1px solid #000;
  border-radius:3px;
  padding:10px;
  margin:15px 0px 15px 0px;
  min-height:200px;
}
#content textarea{
  width:calc(100% - 22px);
  border:1px solid #000;
  border-radius:3px;
  padding:10px;
  margin:15px 0px 15px 0px;
  min-height:200px;
}
#add a{
  overflow:hidden;
  font-size:16px;
  background:#007ee5;
  color:#fff;
  text-align: center;
  display: inline-block;
  border-radius:3px;
  padding:10px;
  margin:0px auto 20px auto;
  width:calc(50%- 20px);
}
#add a:last-child{
  margin:0px 0px 0px 10px;
}
